<meta charset="utf-8" />
<title>{{ (title) ? title|trans : '' }} | CSIT LMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="CSIT LMS" name="description" />
<meta content="ABensing" name="author" />
<!-- App favicon -->
<link rel="icon" href="/images/norsu.ico" type="image/x-icon">
